
/* RESET */
*{
    margin:0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
}
/* VARIABLES & GLOBAL */
html{
    --grey-dark: #707070;
    --grey-medium: #888888;
    --grey-light: rgba(0,0,0,0.16);
    --white: #FFFFFF;
    font-size: 62.5%;
    color: var(--grey-dark);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.container{
    padding: 0 1.6rem 0 1.6rem;
    width: min(100% 150rem);
}
.container.btns{
    padding: 0;
}

.btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.btn, button{
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-medium);
    background: white;
    border-radius: .4rem;
    border:.1rem solid var(--grey-dark);
    font-size: 1.4rem;
    width: min(100%,16rem);
    height: 4rem;
    transition: 0.2s;
}
.btn:hover, button:hover{
    background: var(--grey-medium);
    color: var(--white);
}
.btn.md{
    width: min(100%, 26rem);
    margin: auto;
}
.btn.sm{
    height: 3rem;
    width: 100%;
}
section.container{
    padding-top: 8rem;
}
.separator{
    margin-bottom: 2.4rem;
}
.separator hr{
    height: .1rem;
    background: var(--grey-dark);
}
.separator h2{
    background: var(--white);
    padding: 0 1.6rem;
}
.separator div{ 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1rem;
}

/*FORMs*/
form .btn{
    width: 100%;
}
input{
    border:.1rem solid var(--grey-dark);
    font-size: 1.2rem;
    color: var(--grey-dark);
    padding: 1rem;
}
input.box {
    height: 3rem;
    width: 100%;
    margin: .8rem 0 2rem 0;
}
form .checkcontainer{
    margin-right: .8rem;
    display: flex;
    align-content: center;
    margin-bottom: 2rem;
}
form .checkcontainer input{
    height: 1.4rem;
    border:.1rem solid var(--grey-dark);
    margin-right: .4rem;
}
form .checkcontainer label{
    cursor: pointer;
    margin-right: 4rem;
}
label{
    font-size: 1.2rem;
}

/********************* HEADER **************************/
main{
    height: 28rem;
    background: var(--grey-dark);
    color: var(--white);
    transform-origin: bottom left;
    margin-bottom: 6rem;
}
main::after{
    content:'';
    position: absolute;
    height: 12rem;
    width: 100vw;
    top: 28rem;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background: var(--grey-dark);
    z-index: -1;
}
main h1{
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 1rem;
}

main h1 strong{
    font-size:4rem;
}

main p{
    font-size: 1.4rem;
}
main .btn{
    margin: 0 1rem 2rem 1rem; 
    box-shadow: 0px 1px 6px var(--grey-light);
}
main .container.header{
    padding: 6.6rem 1.6rem;
}

/******************* DESCRIPTION (SUBSCRIBE SECTION) **********************/
.description{
    margin-bottom: 3rem; 
 }
.description h2{
    margin-bottom: 1.6rem;
    font-weight: 200;
}
.description .icon-arrow{
    width: 1.8rem;
    height: .9rem;
    background: var(--grey-dark);
    -webkit-clip-path: polygon(0% 0%, 10% 0, 50% 90%, 90% 0, 100% 0, 50% 100%);
    clip-path: polygon(0% 0%, 10% 0, 50% 80%, 90% 0, 100% 0, 50% 100%);
    position: relative;
    top: .8rem;
    transition: 0.2s;
}
.description .d-title{
    display: flex;
    justify-content: space-between;
}

/********************** SHARE *************************/
#share p{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 3rem;
}

/********************* PRODUCTS ***********************/
.card{
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content:stretch;
    margin-bottom: 3rem;
}
.card .text-container{
    width: 100%;
}
.card .text-container h4{
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
.card .text-container p{
    margin-bottom: .6rem;
}
.card .text-container strong{
    font-size:1.6rem;
}
.card .img-container{
    border: .1rem solid var(--grey-dark);
    width: 32rem;
    height: 13rem;
    margin-right: 2.4rem;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;

}
.card .img-container img{
    height: 100%;
    width: auto;
}
.card .product-description{
    display: none;
}

/*********************** FOOTER ****************************/
footer{
    background: var(--grey-dark);
    text-align: center;
    color: var(--white);
    padding: 5.6rem 0 3.6rem 0;
    clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 8rem;
}

@media only screen and (max-width:400px) {
    .btns .btn{
        width: 40%;
    }
    main h1 strong{
        font-size:3.6rem;
    }
    
}

@media only screen and (max-width:720px) {
    /* JAVASCRIPT */
    .hidden{
        display: none;
    }
    .rotated{
        transform: rotate(180deg);
    }
}

@media only screen and (min-width:720px){
    /* HEADER */
    main{
        text-align: center;
    }
    
    /* DESCRIPTION (SUBSCRIBE SECTION) */
    .container{
        max-width: 92rem;
        margin: auto;
    }
    #subscribe{
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        grid-gap: 6rem;
    }
    .icon-arrow{
        display: none;
    }

    /* PRODUCTS */
    #products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 4rem;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    .card{
        width: 14rem;
        display: block;
        margin-bottom: 0;
    }
    .card .img-container{
        width: 100%;
        height: 15rem;
        margin-bottom: 1.4rem;
    }
    .card .text-container p.product-description{
        display: block;
        margin-bottom: 1.2rem;
    }
    /* SHARE */
    #share .inputs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    #share .input{
        width: min(100%, 36rem);
        margin: 0 2rem;
    }

}

@media only screen and (min-width:850px){
    .card{
        width: 100%;
    }
}
